<template>
    <main-layout>
        <div class="flex flex-row">
            <div class="flex flex-col w-full gap-4">
                <!-- Header-->

                <div class="flex flex-row gap-4 justify-between">
                    <div class="flex flex-col gap-2">
                        <h1 class="font-bold text-3xl">
                            Hi, {{ profile.name }}
                        </h1>
                        <span> You can do some transaction below here </span>
                    </div>
                </div>
                <!-- End Header-->
                <div class="grid grid-cols-3 gap-4">
                    <transaction-card
                        to="transaction/top-up"
                        title="Top Up"
                        color="bg-red-500"
                        description="Add Balance to Your Account"
                    ></transaction-card>
                    <transaction-card
                        to="transaction/send"
                        title="Send Money"
                        color="bg-blue-500"
                        description="Send Money to Pay or Your Friend"
                    ></transaction-card>
                </div>
            </div>
        </div>
    </main-layout>
</template>
<script>
export default {
    data: () => ({
        profile: {
            id: null,
            name: null,
            email: null,
        },
    }),

    mounted() {
        this.initProfile();
    },

    methods: {
        initProfile: function () {
            const data = JSON.parse(localStorage.getItem("user"));

            this.profile = data;
        },
    },
};
</script>

<style></style>
