<template>
    <main-layout>
        <div class="flex flex-row">
            <div class="flex flex-col w-full gap-4">
                <!-- Header-->

                <div class="flex flex-row gap-4 justify-between">
                    <div class="flex flex-col gap-2">
                        <h1 class="font-bold text-3xl">
                            Hi, {{ profile.name }}
                        </h1>
                        <span>Fill up form below to Send Money</span>
                    </div>
                </div>
                <div>
                    Your current balance is:
                    <span class="font-bold text-xl">{{ balance.amount }}</span>
                </div>
                <!-- End Header-->
                <div class="flex flex-col-gap-2 w-full">
                    <form
                        class="space-y-6 w-1/2"
                        @submit.prevent="onFormSubmitted"
                    >
                        <div>
                            <label
                                for="amount"
                                class="text-sm font-bold leading-6 text-gray-900"
                                >Enter amount</label
                            >
                            <div class="mt-2">
                                <input
                                    v-model="form.amount"
                                    id="amount"
                                    name="amount"
                                    type="number"
                                    autocomplete="amount"
                                    required
                                    class="px-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                />
                            </div>
                        </div>
                        <div>
                            <label
                                for="receiver"
                                class="text-sm font-bold leading-6 text-gray-900"
                                >Select Receiver</label
                            >
                            <div class="mt-2">
                                <select
                                    v-model="form.destination_user_id"
                                    ref="receiver"
                                    id="receiver"
                                    name="receiver"
                                    required
                                    class="px-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                >
                                    <option
                                        v-for="user in users"
                                        v-bind:key="user.id"
                                        :value="user.id"
                                    >
                                        {{ user.name }} | {{ user.email }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label
                                for="file"
                                class="text-sm font-bold leading-6 text-gray-900"
                                >Upload File Evidence</label
                            >
                            <div class="mt-2">
                                <input
                                    @change="uploadFile"
                                    ref="file"
                                    id="file"
                                    name="file"
                                    type="file"
                                    autocomplete="file"
                                    required
                                    class="px-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                />
                            </div>
                        </div>

                        <div>
                            <button
                                type="submit"
                                class="flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                            >
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main-layout>
</template>
<script>
import axios from "axios";

import { numberFormat } from "../../utils/number_format.util";
export default {
    data: () => ({
        profile: {
            id: null,
            destination_user_id: null,
            name: null,
            email: null,
            evidence_file: null,
        },

        users: [],

        form: {
            amount: 0,
        },
        balance: {
            amount: 0,
        },
    }),

    mounted() {
        this.initProfile();
        this.getUsers();
        this.initBalance();
    },

    methods: {
        initProfile: function () {
            const data = JSON.parse(localStorage.getItem("user"));

            this.profile = data;
        },

        getUsers: function () {
            axios.get("/api/users?perPage=100").then((res) => {
                this.users = res.data["response"]["data"];
            });
        },

        uploadFile() {
            this.evidence_file = this.$refs.file.files[0];
        },
        initBalance: async function () {
            axios.get("/api/balance").then((res) => {
                this.balance.amount = numberFormat(
                    res.data["response"]["amount"]
                );
            });
        },
        onFormSubmitted() {
            const formData = new FormData();
            formData.append("evidence_file", this.evidence_file);
            formData.append("amount", this.form.amount);
            formData.append(
                "destination_user_id",
                this.form.destination_user_id
            );

            const headers = { "Content-Type": "multipart/form-data" };
            axios
                .post("/api/transaction/send-money", formData, { headers })
                .then((res) => {
                    toastr.success("Send Money", "Success!");
                    this.$router.push({ name: "home" });
                    this.initBalance();
                })
                .catch((err) => {
                    toastr.error(
                        "Can't process your transaction. Check your balance",
                        "Send Money"
                    );
                });
        },
    },
};
</script>

<style></style>
