<template>
    <auth-layout>
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img
                    class="mx-auto h-10 w-auto"
                    src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                    alt="Your Company"
                />
                <h2
                    class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
                >
                    Welcome to Payment Gateway
                </h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" @submit.prevent="onLoginButtonPressed">
                    <div>
                        <label
                            for="name"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >Ful Name</label
                        >
                        <div class="mt-2">
                            <input
                                v-model="form.name"
                                id="name"
                                name="name"
                                type="text"
                                autocomplete="name"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                        </div>
                    </div>
                    <div>
                        <label
                            for="email"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >Email address</label
                        >
                        <div class="mt-2">
                            <input
                                v-model="form.email"
                                id="email"
                                name="email"
                                type="email"
                                autocomplete="email"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between">
                            <label
                                for="password"
                                class="block text-sm font-medium leading-6 text-gray-900"
                                >Password</label
                            >
                        </div>
                        <div class="mt-2">
                            <input
                                v-model="form.password"
                                id="password"
                                name="password"
                                type="password"
                                autocomplete="current-password"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between">
                            <label
                                for="password_confirmation"
                                class="block text-sm font-medium leading-6 text-gray-900"
                                >Password Confirmation</label
                            >
                        </div>
                        <div class="mt-2">
                            <input
                                v-model="form.password_confirmation"
                                id="password_confirmation"
                                name="password_confirmation"
                                type="password"
                                autocomplete="current-password"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                        </div>
                    </div>

                    <div class="flex flex-col gap-4">
                        <button
                            type="submit"
                            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >
                            Sign in
                        </button>

                        <div>
                            Already have an Account?
                            <router-link
                                class="text-blue-500 hover:text-blue-500 hover:font-bold cursor-pointer"
                                to="/login"
                                >Login</router-link
                            >
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </auth-layout>
</template>

<script>
import axios from "axios";

export default {
    data: () => ({
        form: {
            email: "",
            name: "",
            password: "",
            password_confirmation: "",
        },
    }),

    methods: {
        async onLoginButtonPressed() {
            axios
                .post("/api/auth/register", this.form)
                .then((res) => {
                    toastr.success("Redirecting you to login page", "Success");
                    setTimeout(function () {
                        window.location = "/login";
                    }, 3000);
                })
                .catch((error) => {
                    toastr.error("Can't register");
                });
        },
    },
};
</script>

<style></style>
