<template>
    <router-link
        :to="to"
        style="cursor: pointer"
        :class="color"
        class="p-4 text-white rounded-md flex flex-col"
    >
        <div class="font-bold text-xl">{{ title }}</div>
        <div class="">{{ description }}</div>
    </router-link>
</template>

<script>
export default {
    props: ["title", "description", "color", "to"],
};
</script>

<style></style>
