<template>
    <main-layout>
        <div class="flex flex-col w-full gap-4">
            <!-- Header-->

            <div class="flex flex-row gap-4 justify-between">
                <div class="flex flex-col gap-2">
                    <h1 class="font-bold text-3xl">Hi, {{ profile.name }}</h1>
                    <span>
                        Your current balance is:
                        <span class="font-bold text-xl">{{
                            balance.amount
                        }}</span>
                    </span>
                </div>
                <div>
                    <router-link
                        to="/transaction/top-up"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                    >
                        Top Up
                    </router-link>
                </div>
            </div>
            <!-- End Header-->
            <div class="font-bold font-xl">
                Showing {{ table.to }} from {{ table.total }} total transaction
            </div>
            <div class="container mx-auto">
                <input
                    @input="handleInput"
                    v-model="transactionSearch.searchTerm"
                    name="searchTerm"
                    type="text"
                    placeholder="Search here to perform search by Transaction Code or Description"
                    autocomplete="searchTerm"
                    required
                    class="mb-6 px-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
                <table class="min-w-full bg-white border border-gray-300">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b">Transaction Code</th>
                            <th class="py-2 px-4 border-b">
                                <select
                                    @input="handleInput"
                                    v-model="transactionSearch.type"
                                    ref="receiver"
                                    id="receiver"
                                    name="receiver"
                                    required
                                    class="px-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                >
                                    <option :value="null">
                                        All Transaction
                                    </option>
                                    <option value="debit">Debit</option>
                                    <option value="credit">Credit</option>
                                </select>
                            </th>
                            <th class="py-2 px-4 border-b">Description</th>
                            <th class="py-2 px-4 border-b">Amount</th>
                            <th class="py-2 px-4 border-b">Created At</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="transaction in table.data"
                            :key="transaction.id"
                        >
                            <td class="py-2 px-4 border-b">
                                {{ transaction.trx_code }}
                            </td>
                            <td class="py-2 px-4 border-b">
                                {{ transaction.type }}
                            </td>
                            <td class="py-2 px-4 border-b">
                                {{ transaction.description }}
                            </td>
                            <td class="py-2 px-4 border-b">
                                {{ numberFormatting(transaction.amount) }}
                            </td>
                            <td class="py-2 px-4 border-b">
                                {{ formatDate(transaction.created_at) }}
                            </td>
                            <td class="py-2 px-4 border-b">
                                <a
                                    :href="transaction.evidence_file"
                                    target="_blank"
                                    class="text-blue-400 hover:text-blue-500 cursor-pointer"
                                    >Show Image</a
                                >
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="flex flex-row justify-end gap-3 pt-4">
                    <button
                        v-if="table.prev_page_url"
                        @click="prevPage"
                        class="px-2 py-1 text-sm bg-blue-600 text-white rounded"
                    >
                        Prev
                    </button>
                    <button
                        v-if="table.next_page_url"
                        @click="nextPage"
                        class="px-2 py-1 text-sm bg-blue-600 text-white rounded"
                    >
                        Next >>
                    </button>
                </div>
            </div>
        </div>
    </main-layout>
</template>

<script>
import axios from "axios";
import { format } from "date-fns";

import { numberFormat } from "../../utils/number_format.util";
export default {
    data: () => ({
        table: {
            data: [],
            next_page_url: null,
            prev_page_url: null,
            total: 0,
            to: 0,
        },

        searchTransactionData: "",

        profile: {
            id: null,
            name: null,
            email: null,
        },

        transactionSearch: {
            perPage: 5,
            page: 1,
            searchTerm: null,
            user_id: null,
            trx_code: null,
            type: null,
            orderBy: null,
            orderColumn: null,
            description: null,
        },
        balance: {
            amount: 0,
        },

        debounceTimer: 3000,
    }),

    mounted() {
        this.initProfile();
        this.initTransaction();
        this.initBalance();
    },

    methods: {
        initProfile: async function () {
            console.log("init profile");

            axios.get("/api/profile").then((res) => {
                this.profile = res.data["response"];
            });
        },

        handleInput() {
            // Clear previous debounce timer
            clearTimeout(this.debounceTimer);

            // Set a new debounce timer
            this.debounceTimer = setTimeout(() => {
                // Trigger the actual update after debounce time
                this.onResetParams();
                this.initTransaction();
            }, 700); // 300 milliseconds debounce time (adjust as needed)
        },

        initTransaction: async function () {
            axios
                .get("/api/transaction", { params: this.transactionSearch })
                .then((res) => {
                    this.table = res.data["response"];
                });
        },

        initBalance: async function () {
            axios.get("/api/balance").then((res) => {
                this.balance.amount = numberFormat(
                    res.data["response"]["amount"]
                );
            });
        },

        numberFormatting: function (amount) {
            return numberFormat(amount);
        },

        nextPage: function () {
            this.transactionSearch.page = this.transactionSearch.page + 1;

            this.initTransaction();
        },

        prevPage: function () {
            this.transactionSearch.page = this.transactionSearch.page - 1;

            this.initTransaction();
        },

        onResetParams: function () {
            this.transactionSearch.page = 1;
            this.initTransaction();
        },

        formatDate(dateString) {
            const formattedDate = format(
                new Date(dateString),
                "d MMM yyyy HH:mm:ss"
            );
            return formattedDate;
        },
    },
};
</script>
