<template>
    <div>
        <app-navbar></app-navbar>

        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between"></div>
            <div class="pt-10">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
